/* CSS Document */


body{
   font-family:verdana;
   
   background-color:#1A7AD3
}
td {
   background-color:#E2E9E9
}
th {
   background-color:#468840;
   color:white;
}

/*Configura��es Padr�es*/
ul.menu, .menu li, .menu a{ margin:0; padding:0; list-style:none; text-decoration:none;}
ul.menu ul{ position:absolute; display:none; box-shadow:3px 3px 2px #333;}

/* Configura��es nivel 1*/
ul.menu{ float:left; font-family:Verdana, Geneva, sans-serif; font-size:12px; border-radius:5px; padding:0 5px;}
.menu li{ float:left; width:auto; position:relative;}
.menu li a{background-color:#CCC; display:block; padding:0 20px; line-height:22px; height:22px; float:left; transition:all 0.1s linear; }

/* Configura��es nivel 2*/
.menu li:hover > ul.submenu-1{ display:block; top:2
    32px; left:0; padding:5px; width:200px; border-radius:0 0 5px 5px;   }
.menu ul.submenu-1 a{  width:160px; padding:0 20px; border-radius:5px;  }

/* Configura��es nivel 2*/
.menu li:hover > ul.submenu-2{ display:block; top:0; left:195px; padding:5px; width:200px;  border-radius: 0 5px 5px 5px; }
.menu ul.submenu-2 a{  width:160px; padding:0 20px; border-radius:5px; }

/* Configura��es nivel 3*/
.menu li:hover > ul.submenu-3{ display:block; top:0; left:195px; padding:5px; width:200px;  border-radius: 0 5px 5px 5px; }
.menu ul.submenu-3 a{  width:160px; padding:0 20px; border-radius:5px; }


/*Configura��es de cores*/

/*nivel 1*/
.menu{background:#CCC; }
.menu a{ color:#000;}
.menu li:hover > a{ background:#999;  color:#fff;}

/*nivel 2*/
.submenu-1{ background:#999;}
.submenu-1 a{color:#fff;}
.submenu-1 li:hover > a{ background:#666; }

/*nivel 3*/
.submenu-2{ background:#666;}
.submenu-2 a{color:#fff;}
.submenu-2 li:hover > a{ background:#333; }

/*nivel 3*/
.submenu-3{ background:#333;}
.submenu-3 a{color:#fff;}
.submenu-3 li:hover > a{ background:#000; }

